<% include ../partials/header %>
 <div class="container">
    <div class="row">
        <h1 style="text-align: center">Add new blog</h1>
          <div style="width: 30%; margin: 0 auto;">
              <form action="/blogs" method="POST">
                <div class="form-group">
                     <input class="form-control" placeholder="Title" type="text" name="title">
                </div>
               <!-- <div class="form-group">
                     <input class="form-control" type="text" placeholder="image url" name="image">
                </div>-->
                <div class="form-group">
                   <textarea name="content" id="inputfield" style="width:250px;height:150px;"></textarea>

                </div>
                <div class="form-group">
                     <button class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
                
           </form>  
              <a href="/blogposts">Go back</a>
          </div>
          
    </div> 
      
 </div>
 
<% include ../partials/footer %>