<% include partials/header %>
<link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/shop.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <style type="text/css">
	.pinky{
		font-family: 'Hi Melody', cursive;
		font-size: 25px;
	}
	.jumbotron {
	height: 200px;
	color: #2c3e50;
	background-color:  #ecf0f1;
	width: auto;
	margin-top: 0.1rem;
}
	</style>
	<div class="container">
<div class="jumbotron pinky">
	<h1><i class="fas fa-campground"></i></i>
The Camping Shop</h1>
	<p>A must have camping items list</p>
</div>
<div class="row">
	<div class="col-lg-4 col-sm-6">
	    <a href="https://www.amazon.in/dp/B004J2KDHK?aaxitk=umZfRZFnrqu2ldsLA7htXA&pd_rd_i=B004J2KDHK&pf_rd_m=A1VBAL9TL5WCBF&pf
	    _rd_p=98f2ac8f-072b-41ed-b07d-7646b42eb4b7&pf_rd_s=desktop-sx-top-slot&pf_rd_t=301&pf_rd_i=tent+poles&hsa_cr_id=51245039
	    80702&sb-ci-n=asinImage&sb-ci-v=https%3A%2F%2Fimages-na.ssl-images-amazon.com%2Fimages%2FI%2F61Hmq7lx5RL.jpg&sb-ci-a=B004J2KDHK">
	    <img src="https://images-na.ssl-images-amazon.com/images/I/61Hmq7lx5RL._SX679_.jpg" class="img-thumbnail" title="Coleman Sundome Camping Green Tents">
	    </a>
	</div>
	
	<div class="col-lg-4 col-sm-6">
	    <a href="https://www.amazon.in/Coleman-Biker-Sleeping-Bag-Temperature/dp/B007ZZVA2K/ref=sr_1_1_sspa?s=sports&ie=UTF8&qid=1543089244&sr=1-1-spons&keywords=sleeping+bags&psc=1">
		<img src="https://images-na.ssl-images-amazon.com/images/I/61bFgmKI4tL._SY879_.jpg" class="img-thumbnail" title="Coleman Sleeping Bag">
		</a>
	</div>
	<div class="col-lg-4 col-sm-6">
	    <a href="https://www.amazon.in/Gipfel-Rollaway-Foam-Camping-Sleeping/dp/B0771NGX71/ref=sr_1_1_sspa?s=sports&ie=UTF8&qid=1543089997&sr=1-1-spons&keywords=camping&psc=1">
		<img src="https://images-na.ssl-images-amazon.com/images/I/611m24TxdsL._SL1300_.jpg" class="img-thumbnail " title="Rollaway Foam">
		</a>
	</div>
	<div class="col-lg-4 col-sm-6">
	    <a href="https://www.amazon.in/Inditradition-Toilet-Camping-Hiking-Green/dp/B01IO4CTM0/ref=sr_1_6?s=sports&ie=UTF8&qid=1543090185&sr=1-6&keywords=camping">
		<img src="https://images-na.ssl-images-amazon.com/images/I/41BRdSglLuL.jpg" class="img-thumbnail " title="Toilet Tent">
		</a>
	</div>
	<div class="col-lg-4 col-sm-6">
	    <a href="https://www.amazon.in/AmazonBasics-Internal-Hardback-Backpack-Raincover/dp/B06Y5NCY5K/ref=sr_1_10?s=sports&ie=UTF8&qid=1543090185&sr=1-10&keywords=camping">
		<img src="https://images-na.ssl-images-amazon.com/images/I/91Mfm9bTeFL._SL1500_.jpg" class="img-thumbnail " title="Hiking Backpack with Raincover">
		</a>
	</div>
	<div class="col-lg-4 col-sm-6">
	    <a href="https://www.amazon.in/Zorbes-Outdoor-Camping-Cookware-Cooking/dp/B07D1S71DN/ref=sr_1_12?s=sports&ie=UTF8&qid=1543090185&sr=1-12&keywords=camping">
		<img src="https://images-na.ssl-images-amazon.com/images/I/715uvcE454L._SY450_.jpg" class="img-thumbnail " title="Camping Cookware">
		</a>
	</div>
	<div class="col-lg-4 col-sm-6">
	    <a href="https://www.amazon.in/MAN-TRADERS-Telescopic-Folding-Camping/dp/B07H3RLVY1/ref=sr_1_19?s=sports&ie=UTF8&qid=1543090185&sr=1-19&keywords=camping">
		<img src="https://images-na.ssl-images-amazon.com/images/I/31NzQPgz8AL._SX450_.jpg" class="img-thumbnail " title="Folding Stick">
		</a>
	</div>
	<div class="col-lg-4 col-sm-6">
	    <a href="https://www.amazon.in/Kurtzy-Adjustable-Rechargeable-Battery-Trekking/dp/B07F8NBVX3/ref=sr_1_1_sspa?s=sports&ie=UTF8&qid=1543090484&sr=1-1-spons&keywords=camping+headlight&psc=1">
		<img src="https://images-na.ssl-images-amazon.com/images/I/71LcE-fZrTL._SL1500_.jpg" class="img-thumbnail " title="Hiking Flashlight">
		</a>
	</div>
	<div class="col-lg-4 col-sm-6">
	    <a href="https://www.amazon.in/Gerber-31-001773-Grylls-Survival-Bracelet/dp/B00B0I2VIK/ref=sr_1_9?s=sports&ie=UTF8&qid=1543090665&sr=1-9&keywords=camping+equipments">
		<img src="https://images-na.ssl-images-amazon.com/images/I/61ps3qgWfxL._SL1000_.jpg" class="img-thumbnail " title="Bear Grylls Survival Bracelet">
		</a>
	</div>
</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        

<% include partials/footer %>
