            <% include ../partials/header %>
            <div class="container">
              <div class="row">
                    <ul class="col-6 mx-auto">
                               <% todoList.forEach(function(todo) { %>
                                     <%    if(todo.author.id.equals(currentUser._id)) { %>
                                                   <li> <%= todo.name %> 
                                                    <form id="delete-form" action="/todos/<%=todo._id%>?_method=DELETE" method="POST" >
                               <input type="submit" value="delete" class="btn btn-xs btn-danger">
                           </form>
                                                   </li>
                                                   
                                    <% } %>

                        <% }); %>

                    
              
           
                    </ul>
                    <a href="/todos">Add more todos</a>
                
                </div>
            </div>